#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.slider-img{
  position: relative;
}

.slider-p{
  position: absolute;
  bottom: 20px;
  padding: 20px 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
}
.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 6px;
  left: 14px;
}

.slider-span{
  color: white;
  font-size: 20px;
  font-weight: bold;
}

