@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffefc;
  scroll-behavior: smooth;
}

nav .active {
  @apply border-b-[2px] border-primary;
}

.box {
  @apply max-w-7xl mx-auto px-6 mb-8 md:mb-10;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-800;
}

::-webkit-scrollbar {
  @apply w-2 bg-primaryLight;
}

/* Track */
::-webkit-scrollbar-track {
  @apply border-4 bg-gray-200;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply border-2 border-primaryLight bg-primaryLight;
}

.MuiDataGrid-root {
  @apply border-none;
}

.MuiDataGrid-cell {
  @apply border-none;
}

.MuiDataGrid-columnHeaders {
  @apply border-2 border-primaryLight bg-gray-100;
}

.MuiDataGrid-columnHeaders .MuiSvgIcon-root,
.MuiDataGrid-cellCheckbox .MuiSvgIcon-root {
  font-size: large !important;
  @apply text-primary;
}

.MuiDataGrid-toolbarContainer .MuiButton-text {
  @apply text-gray-600;
  font-size: smaller !important;
}

.MuiDataGrid-footerContainer {
  @apply border-none bg-gray-100;
}

input:invalid[focused="true"] {
  @apply border-red-500;
}

input:invalid[focused="true"] ~ span {
  @apply block;
}

.slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }

  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}



/* Change active pagination color */
.swiper-pagination-bullet-active {
  @apply bg-primaryLight; /* Change to your desired color */
}